:root {
  /* COLOR PALETTE */
  --bc__color--transparent: transparent;
  --bc__color--black: #191800;
  --bc__color--yellow: #dbd748;
  --bc__color--white: #f2f2f2;
  --bc__color--white--light: #fffffe;
  --bc__color--grey: #c3c6ce;
  --bc__color--grey--dark: #6e6e73;
  --bc__color--green: #25d366;

  /* TYPOGRAPHY FAMILY*/
  --bc__typography--family--heading: 'Antonio', sans-serif;
  --bc__typography--family--logo: 'College_Block_2.0';
  --bc__typography--family--body: 'Rubik', sans-serif;

  /* FONT SIZE */
  --bc__typography--size--footer: 0.8rem;
  --bc__typography--size--p: 1rem;
  --bc__typography--size--h3: 1.2rem;
  --bc__typography--size--h2: 1.5rem;
  --bc__typography--size--h1: 2rem;
  --bc__typography--size--extra: 5rem;

  /* FONT WEIGHT*/
  --bc__typography--weight--300: 300;
  --bc__typography--weight--500: 500;
  --bc__typography--weight--700: 700;

  /* LETTER SPACING */
  --bc__typography--spacing--content: 0.05rem;

  /* TEXT STROKE STYLE */
  --bc__text__stroke--white: 0.03rem var(--bc__color--white);
  --bc__text__stroke--black: 0.04rem var(--bc__color--black);
  --bc__text__stroke--yellow: 0.055rem var(--bc__color--yellow);

  /* GENERAL STYLE */
  --bc__style--none: none;

  /* GENERAL % SIZING */
  --bc__empty: 0%;
  --bc__half: 50%;
  --bc__complete: 100%;

  /* MARGIN */
  --bc__margin--small: 0.5rem;
  --bc__margin--filter: 0.3rem 0rem 0.3rem 0rem;

  /* GAP */
  --bc__gap--small: 0.7rem;
  --bc__gap--medium: 1.5rem;
  --bc__gap--big: 3rem;

  /* PADDING */
  --bc__padding--small: 0.5rem;
  --bc__padding--medium: 1rem;
  --bc__padding--big: 1.5rem;

  /* BORDER */
  --bc__border--yellow: 0.12rem solid var(--bc__color--yellow);
  --bc__border--black: 0.12rem solid var(--bc__color--black);
  --bc__border--grey: 0.12rem solid var(--bc__color--grey);

  /* BORDER RADIUS */
  --bc__border__radius--small: 0.5rem;
  --bc__border__radius--big: 1.5rem;
  --bc__border__radius--filter: 0rem 0.5rem 0.5rem 0rem;

  /* HEIGHT */
  --bc__height--small: 2.5rem;
  --bc__height--card: 33rem;
  --bc__height--header: 12vh;
  --bc__height--footer: 35vh;
  --bc__height--hero: 100vh;
  --bc__height--full--screen: 100vh;

  /* WIDTH */
  --bc__width--small: 2.5rem;
}

@font-face {
  font-family: 'College_Block_2.0';
  src: url('./College_Block_2.0.otf'), url('ruta-a-la-version-woff-de-la-fuente') format('woff');
}

/* 
🟥 - Falta código
🟨 - Revisar descripciones y variables
✅ - Código hecho y revisado
*/
/* --✅ GLOBAL STYLES------------------------------------------------------------------------ */
/* Se establecen los diferentes estilos generales normalmente predefinidos y comunes */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-width: 20rem;
  min-height: var(--bc__height--full--screen);
  margin: 0 auto;
  color: var(--bc__color--white);
  font-family: var(--bc__typography--family--body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: var(--bc__complete);
}

h1,
h2,
h3 {
  letter-spacing: var(--bc__typography--spacing--content);
}

p {
  font-family: var(--bc__typography--family--body);
}

a {
  color: var(--bc__color--white);
  text-decoration: var(--bc__style--none);
  list-style-type: var(--bc__style--none);
  cursor: pointer;
}

ul,
li {
  text-decoration: var(--bc__style--none);
  list-style-type: var(--bc__style--none);
}

/* ✅ LAYOUT */
/* Se dejan predefinidos los siguientes apartados para evitar repetirlos */
.bc__layout__flex {
  display: flex;
  align-items: center;
}

.bc__layout__grid {
  display: grid;
  align-items: center;
}

/* --✅2.MAIN------------------------------------------------------------------------ */
/* Se establece el color de fondo del main */
.bc__section__main {
  background-color: var(--bc__color--white);
}

/* 2.2.SHOP */
#shop {
  align-items: flex-start;
}

/* 2.2.1 Filter */
/* Diseños generales del filtro */
#filter {
  padding-top: calc(var(--bc__height--header) + var(--bc__padding--medium));
  z-index: 1;
}

/* Diseños generales para cada filtro */
.bc__section__filter {
  /* display: flex;
  flex-direction: column; */
  padding: var(--bc__padding--big);
  background-color: var(--bc__color--white--light);
  border-radius: var(--bc__border__radius--filter);
  text-align: center;
  width: 15rem;
  height: var(--bc__height--card);
  transition: cubic-bezier(0.2, 0.5, 0.1, 1) 1s;
}

/* Margen entre cada uno de los filtros */
.bc__section__filter > div {
  margin: 0.8rem;
  padding: 0.3rem;
}

/* Decoración para el título de filtro */
.bc__filter__title {
  text-transform: uppercase;
  color: var(--bc__color--black);
  background-color: var(--bc__color--white--light);
  margin: var(--bc__margin--filter);
  transition: all 0.5s;
  font-size: var(--bc__typography--size--h2);
  font-weight: var(--bc__typography--weight--500);
  /* text-decoration: underline; */
}

/* Decoración de las letras específicas de los títulos de los filtros */
.bc__filter__brand > h2,
.bc__filter__price > h2,
.bc__filter__size > h2 {
  -webkit-text-stroke: var(--bc__text__stroke--black);
  color: var(--bc__color--white--light);
  text-transform: uppercase;
}

/* Diseño para que haya espacio entre los logos */
.bc__filter__brand--img {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Diseños para los botones del filtro por marca */
.bc__filter__brand--img > button {
  position: relative;
  background-color: transparent;
  border: none;
  padding-top: var(--bc__padding--small);
}

.bc__filter__brand--img > button :hover {
  scale: 1.1;
}

.bc__filter__brand--img > button > img {
  width: 3rem;
  height: 3rem;
  padding: 0.2rem;
}

/* Diseños para el filtro por precio tipo input */
.bc__filter__price--details {
  display: flex;
  justify-content: space-between;
  color: var(--bc__color--black);
  font-weight: var(--bc__typography--weight--300);
  margin-top: 0.5rem;
}

.bc__filter__price--details > output {
  font-weight: var(--bc__typography--weight--500);
}

#priceRange {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#priceRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2rem;
  border-radius: 5rem;
  background: var(--bc__color--black);
  cursor: grabbing;
}

/* Características especiales para chrome */
#priceRange::-webkit-slider-thumb {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.65rem;
  -webkit-appearance: none;
  cursor: grabbing;
  background: url('https://res.cloudinary.com/dwsffp1eq/image/upload/v1678441830/ceres-box/rec_cshkns.png');
}

#priceRange:focus::-webkit-slider-runnable-track {
  background: var(--bc__color--black);
}

/* Características especiales para firefox */
#priceRange::-moz-range-track {
  width: 100%;
  height: 0.2rem;
  border-radius: 5rem;
  background: var(--bc__color--black);
  cursor: grabbing;
}

#priceRange::-moz-range-thumb {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.65rem;
  appearance: none;
  cursor: grabbing;
  border: none;
  background: url('https://res.cloudinary.com/dwsffp1eq/image/upload/v1678441830/ceres-box/rec_cshkns.png');
}

/* Diseños para el filtro de tamaño tipo select */
#sizeSelect {
  /* margin: 10rem; */
  /* Determinar tamaño luego */
  margin-top: 0.5rem;
  width: 5.5rem;
  height: 2.5rem;
  padding: 0rem 0.8rem 0rem 0.8rem;
  border: none;
  border-radius: 50rem;
  /* text-align: center; */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('https://res.cloudinary.com/dwsffp1eq/image/upload/v1678105109/ceres-box/toggle__black_yjozkb.png')
    no-repeat 3.5rem / 22px 14px;
  background-color: var(--bc__color--white);
  color: var(--bc__color--black);
  font-weight: var(--bc__typography--weight--500);
  font-size: var(--bc__typography--size--p);
}

#sizeSelect:hover {
  border: 0.1rem solid var(--bc__color--black);
}

#sizeSelect option {
  background-color: var(--bc__color--white);
  /* color: var(--bc__color--white); */
}

/* Decoración del botón para borrar el filtro */
.bc__filter__remove--button {
  text-transform: uppercase;
  color: var(--bc__color--black);
  background-color: var(--bc__color--white--light);
  padding: 0.5rem;
  border: 0.23rem double;
  /* margin-top: 1rem; */
  transition: all 0.5s;
  margin: var(--bc__margin--filter);
  font-size: 1rem;
  font-weight: var(--bc__typography--weight--700);
}

.bc__filter__remove :hover {
  transform: translateY(-0.2rem);
  box-shadow: var(--bc__color--grey) 0 0.3rem 0.5rem;
}

/* Decoración general del toggle */
.bc__filter__toggle--button {
  background-color: var(--bc__color--black);
  width: 3rem;
  height: 4rem;
  border-radius: var(--bc__border__radius--filter);
}

/* Efecto al toggle */
.bc__filter__toggle--image {
  transition: all 1s;
}

/* --🟨5.MEDIA QUERIES------------------------------------------------------------------------ */

/* TABLET DISPLAY */
@media screen and (min-width: 23.5rem) and (max-width: 48rem) {
}

/* MOBILE DISPLAY */
@media screen and (max-width: 23.5rem) {
}
