:root {
  /* COLOR PALETTE */
  --bc__color--transparent: transparent;
  --bc__color--black: #191800;
  --bc__color--yellow: #dbd748;
  --bc__color--white: #f2f2f2;
  --bc__color--white--light: #fffffe;
  --bc__color--grey: #c3c6ce;
  --bc__color--grey--dark: #6e6e73;
  --bc__color--green: #25d366;

  /* TYPOGRAPHY FAMILY*/
  --bc__typography--family--heading: 'Antonio', sans-serif;
  --bc__typography--family--logo: 'Antonio', sans-serif;
  --bc__typography--family--body: 'Rubik', sans-serif;

  /* FONT SIZE */
  --bc__typography--size--footer: 0.8rem;
  --bc__typography--size--p: 1rem;
  --bc__typography--size--h3: 1.2rem;
  --bc__typography--size--h2: 1.5rem;
  --bc__typography--size--h1: 2rem;
  --bc__typography--size--extra: 5rem;

  /* FONT WEIGHT*/
  --bc__typography--weight--300: 300;
  --bc__typography--weight--500: 500;
  --bc__typography--weight--700: 700;

  /* LETTER SPACING */
  --bc__typography--spacing--content: 0.05rem;

  /* TEXT STROKE STYLE */
  --bc__text__stroke--white: 0.03rem var(--bc__color--white);
  --bc__text__stroke--black: 0.04rem var(--bc__color--black);
  --bc__text__stroke--yellow: 0.055rem var(--bc__color--yellow);

  /* GENERAL STYLE */
  --bc__style--none: none;

  /* GENERAL % SIZING */
  --bc__empty: 0%;
  --bc__half: 50%;
  --bc__complete: 100%;

  /* MARGIN */
  --bc__margin--small: 0.5rem;
  --bc__margin--filter: 0.3rem 1rem 0.3rem 1rem;

  /* GAP */
  --bc__gap--small: 0.7rem;
  --bc__gap--medium: 1.5rem;
  --bc__gap--big: 3rem;

  /* PADDING */
  --bc__padding--small: 0.5rem;
  --bc__padding--medium: 1rem;
  --bc__padding--big: 1.5rem;

  /* BORDER */
  --bc__border--yellow: 0.12rem solid var(--bc__color--yellow);
  --bc__border--black: 0.12rem solid var(--bc__color--black);
  --bc__border--grey: 0.12rem solid var(--bc__color--grey);

  /* BORDER RADIUS */
  --bc__border__radius--small: 0.5rem;
  --bc__border__radius--big: 1.5rem;
  --bc__border__radius--filter--desktop: 0rem 0.5rem 0.5rem 0rem;
  --bc__border__radius--filter--mobile: 0rem 0rem 0.5rem 0.5rem;

  /* HEIGHT */
  --bc__height--small: 2.5rem;
  --bc__height--card: 33rem;
  --bc__height--header: 12vh;
  --bc__height--footer: 35vh;
  --bc__height--hero: 100vh;
  --bc__height--full--screen: 100vh;

  /* WIDTH */
  --bc__width--small: 2.5rem;
}

/* @font-face {
  font-family: 'College_Block_2.0';
  src: url('./College_Block_2.0.otf'), url('ruta-a-la-version-woff-de-la-fuente') format('woff');
} */

/* 
🟥 - Falta código
🟨 - Revisar descripciones y variables
✅ - Código hecho y revisado
*/
/* --✅ GLOBAL STYLES------------------------------------------------------------------------ */
/* Se establecen los diferentes estilos generales normalmente predefinidos y comunes */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-width: 20rem;
  min-height: var(--bc__height--full--screen);
  margin: 0 auto;
  color: var(--bc__color--white);
  font-family: var(--bc__typography--family--body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: var(--bc__complete);
}

h1,
h2,
h3 {
  letter-spacing: var(--bc__typography--spacing--content);
}

p {
  font-family: var(--bc__typography--family--body);
}

a {
  color: var(--bc__color--white);
  text-decoration: var(--bc__style--none);
  list-style-type: var(--bc__style--none);
  cursor: pointer;
}

ul,
li {
  text-decoration: var(--bc__style--none);
  list-style-type: var(--bc__style--none);
}

/* ✅ LAYOUT */
/* Se dejan predefinidos los siguientes apartados para evitar repetirlos */
.bc__layout__flex {
  display: flex;
  align-items: center;
}

.bc__layout__grid {
  display: grid;
  align-items: center;
}
